h3{
    color:red;
}
a{
    color:bisque;
    background-color: blue;
}
.one{
    color:blueviolet;
    background-color: orange;
}
#two{
    color:aqua;
    background-color: rgb(33, 17, 181);
}
